@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><b>Welcome To the Task Management Application. Please click the tab of task management</b></p>
</div>
